nav {
    background-color: #F8D7DA;
}

footer {
    background-color: #bd2c2c;
    text-align: center;
    padding: 20px;
    /* Con esto solucionamos el sticly footer*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    color: rebeccapurple;
}
